<div class="row">
    <div class="ui cards">
        <div class="ui centered card">
            <div class="image">
                <img src="/img/kuan.jpg">
            </div>
            <div class="content">
                <a class="header">劉冠妤</a>
            </div>
        </div>
        <div class="ui centered card">
            <div class="image">
                <img src="/img/kuan.jpg">
            </div>
            <div class="content">
                <a class="header">劉冠妤</a>
            </div>
        </div>
        <div class="ui centered card">
            <div class="image">
                <img src="/img/kuan.jpg">
            </div>
            <div class="content">
                <a class="header">劉冠妤</a>
            </div>
        </div>
        <div class="ui centered card">
            <div class="image">
                <img src="/img/kuan.jpg">
            </div>
            <div class="content">
                <a class="header">劉冠妤</a>
            </div>
        </div>
        <div class="ui centered card">
            <div class="image">
                <img src="/img/kuan.jpg">
            </div>
            <div class="content">
                <a class="header">劉冠妤</a>
            </div>
        </div>
        <div class="ui centered card">
            <div class="image">
                <img src="/img/kuan.jpg">
            </div>
            <div class="content">
                <a class="header">劉冠妤</a>
            </div>
        </div>
        <div class="ui centered card">
            <div class="image">
                <img src="/img/kuan.jpg">
            </div>
            <div class="content">
                <a class="header">劉冠妤</a>
            </div>
        </div>
    </div>
</div>
