<div class="row" ng-controller="modifyCtrl" ng-init="init_modify()">
    <div class="eight wide column">
        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="home">修改首頁資料</a>
            <a class="item" data-tab="about">修改老師資料</a>
            <a class="item" data-tab="members">修改成員</a>
            <a class="item" data-tab="courses">修改課程</a>
            <a class="item" data-tab="publications">修改著作</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="home">
            <form class="ui form">
                <div class="field">
                    <label>首頁標題</label>
                    <input type="text" ng-model="home.title">
                </div>
                <div class="field">
                    <label>首頁內文</label>
                    <textarea ng-model="home.description"></textarea>
                </div>
            </form>
            <h4 class="ui horizontal divider header">輸出首頁資料</h4>
            <div class="output_container">
                <div class="blue ui button" ng-click="output('home')">
                    <i class="file icon"></i>輸出首頁資料
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="about">
            <div class="ui top attached tabular menu">
                <a class="active item" data-tab="information">個人資訊</a>
                <a class="item" data-tab="resume">簡歷</a>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="information">
                <form class="ui form">
                    <div class="field">
                        <label>照片檔案名</label>
                        <input type="text" ng-model="about.teacher.img">
                    </div>
                    <div class="inline field">
                        <label>姓名</label>
                        <input type="text" ng-model="about.teacher.name">
                    </div>
                    <div class="inline field">
                        <label>職稱</label>
                        <input type="text" ng-model="about.teacher.title">
                    </div>
                    <div class="inline field">
                        <label>辦公室</label>
                        <input type="text" ng-model="about.teacher.office">
                    </div>
                    <div class="inline field">
                        <label>電話</label>
                        <input type="text" ng-model="about.teacher.phone">
                    </div>
                    <div class="inline field">
                        <label>傳真</label>
                        <input type="text" ng-model="about.teacher.fax">
                    </div>
                    <div class="inline field">
                        <label>信箱</label>
                        <input type="text" ng-model="about.teacher.mail">
                    </div>
                </form>
            </div>
            <div class="ui bottom attached tab segment" data-tab="resume">
                <form class="ui form">
                    <div class="field">
                        <label>學歷</label>
                        <input type="text" ng-model="about.teacher.resume.educational_background">
                    </div>
                    <div class="field">
                        <label>經歷(請以換行區分)</label>
                        <textarea rows="4" ng-model="about.teacher.resume.experience"></textarea>
                    </div>
                    <div class="field">
                        <label>專長(請以換行區分)</label>
                        <textarea rows="4" ng-model="about.teacher.resume.speciality"></textarea>
                    </div>
                    <div class="field">
                        <label>研究興趣(請以換行區分)</label>
                        <textarea rows="4" ng-model="about.teacher.resume.research"></textarea>
                    </div>
                </form>
            </div>
            <h4 class="ui horizontal divider header">輸出about資料</h4>
            <div class="output_container">
                <div class="blue ui icon button" ng-click="output('about')">
                    <i class="file icon"></i>輸出about資料
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="members">
            <form class="ui form">
                <div class="ui segment" ng-repeat="member in members">
                    <div class="seven fields">
                        <div class="field">
                            <input type="text" ng-model="member.name" placeholder="名字">
                        </div>
                        <div class="field">
                            <input type="text" ng-model="member.img" placeholder="圖片檔名">
                        </div>
                        <div class="field">
                            <!-- <input type="text" ng-model="member.title" placeholder="職稱"> -->
                            <title-dropdown member="member"></title-dropdown>
                        </div>
                        <div class="field">
                            <datepicker date-format="yyyy/MM/dd" date-max-limit="{{member.end}}">
                                <input ng-model="member.start" type="text" placeholder="起始日期" />
                            </datepicker>
                        </div>
                        <div class="field">
                            <datepicker date-format="yyyy/MM/dd" date-min-limit="{{member.start}}">
                                <input ng-model="member.end" type="text" placeholder="結束日期" />
                            </datepicker>
                        </div>
                        <div class="field">
                            <input type="text" ng-model="member.mail" placeholder="email">
                        </div>
                        <div class="field">
                            <div class="circular red ui icon button" ng-click="delete_member(member)">
                                <i class="remove icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field centered">
                    <div class="green ui labeled icon button" ng-click="add_member()">
                        <i class="icon add"></i>新增一位成員
                    </div>
                </div>
            </form>
            <h4 class="ui horizontal divider header">輸出成員資料</h4>
            <div class="output_container">
                <div class="blue ui button" ng-click="output('members')">
                    <i class="file icon"></i>輸出成員資料
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="courses">
            <form class="ui form">
                <div class="ui segment" ng-repeat="course in courses">
                    <div class="field">
                        <input type="text" ng-model="course.name" placeholder="課程名稱">
                    </div>
                    <div class="field">
                        <textarea ng-model="course.description" placeholder="課程描述"></textarea>
                    </div>
                    <div class="field centered">
                        <div class="red ui labeled icon button" ng-click="delete_course()">
                            <i class="icon remove"></i>刪除課程
                        </div>
                    </div>
                </div>
                <div class="field centered">
                    <div class="green ui labeled icon button" ng-click="add_course()">
                        <i class="icon add"></i>新增一門課程
                    </div>
                </div>
            </form>
            <h4 class="ui horizontal divider header">輸出課程資料</h4>
            <div class="output_container">
                <div class="blue ui button" ng-click="output('courses')">
                    <i class="file icon"></i>輸出課程資料
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="publications">
            <form class="ui form">
                <div class="ui segment" ng-repeat="category in publications">
                    <div class="two fields">
                        <div class="thirteen  wide field">
                            <input type="text" ng-model="category.type" placeholder="例: 分類名稱，期刊論文, 研討會論文...">
                        </div>
                       <div class="three wide field">
                           <div class="fluid red ui labeled icon button" ng-click="delete_publication_category(category)">
                                <i class="icon remove"></i>刪除此分類
                            </div>
                       </div> 
                    </div>
                    <div class="ui segment" ng-repeat="sub_category in category.sub_categories">
                        <div class="field">
                            <div class="fluid red ui labeled icon button" ng-click="delete_publication_sub_category(category.sub_categories, sub_category)">
                                <i class="icon remove"></i>刪除此次分類
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" ng-model="sub_category.type" placeholder="次分類名稱，例: SCI or SSCI Journal Papers">
                        </div>
                        <div class="field">
                            <label>項目內容(請以換行區分條目)</label>
                            <textarea ng-model="sub_category.content"></textarea>
                        </div>
                    </div>
                    <div class="field centered">
                        <div class="green ui labeled icon button" ng-click="add_publication_sub_category(category)">
                            <i class="add icon"></i>於此分類新增次分類
                        </div>
                    </div>
                </div>
                <div class="field centered">
                    <div class="green ui labeled icon button" ng-click="add_publication_category()">
                        <i class="icon add"></i>新增一種分類
                    </div>
                </div>
            </form>
            <h4 class="ui horizontal divider header">輸出著作資料</h4>
            <div class="output_container">
                <div class="blue ui button" ng-click="output('publications')">
                    <i class="file icon"></i>輸出著作資料
                </div>
            </div>
        </div>
    </div>
</div>
