<div class="row" ng-controller="modifyCtrl">
    <div class="eight wide column">
        <form class="ui form" ng-init="retrieve_data()">
            <h4 class="ui dividing header">修改成員</h4>   
            <div class="three fields" ng-repeat="member in members">
                <div class="field">
                    <input type="text" ng-model="member.name" placeholder="名字">
                </div>
                <div class="field">
                    <input type="text" ng-model="member.img" placeholder="圖片檔名">
                </div>
                <div class="field">
                    <div class="circular red ui icon button" ng-click="delete_member(member)">
                        <i class="remove icon"></i>
                    </div>
                </div>
            </div>
            <div class="circular green ui icon button" ng-click="add_member()">
                <i class="icon add"></i>
            </div>
            <div class="circular blue ui icon button" ng-click="output('members')">
                <i class="file icon"></i>
            </div>
        </form>
    </div>
</div>