<div class="ui fluid selection dropdown">
    <i class="dropdown icon"></i>
    <div class="text">{{ member.title }}</div>
    <div class="menu">
        <div class="item" ng-click="member.title='Visiting Scholar'">Visiting Scholar</div>
        <div class="item" ng-click="member.title='Postdoc'">Postdoc</div>
        <div class="item" ng-click="member.title='Ph.D'">Ph.D</div>
        <div class="item" ng-click="member.title='Master'">Master</div>
        <div class="item" ng-click="member.title='Assistant'">Assistant</div>
        <div class="item" ng-click="member.title='Alumni'">Alumni</div>
    </div>
</div>
