<div class="ui fluid selection dropdown">
    <i class="dropdown icon"></i>
    <div class="text">{{ member.title }}</div>
    <div class="menu">
        <div class="item" ng-click="member.title='訪問學者'">訪問學者</div>
        <div class="item" ng-click="member.title='博士後研究員'">博士後研究員</div>
        <div class="item" ng-click="member.title='博士生'">博士生</div>
        <div class="item" ng-click="member.title='碩士生'">碩士生</div>
        <div class="item" ng-click="member.title='專任助理'">專任助理</div>
        <div class="item" ng-click="member.title='畢業成員'">畢業成員</div>
    </div>
</div>
